# Kernel (architecture owners)
/kernel/        @datenbar @rootmnt

# Drivers
/drivers/       @krishna-stone @datenbar @rootmnt

# Modules
/modules/       @Nikhil-771 @datenbar @rootmnt

# Interfaces
/interface/     @shresth136 @datenbar @rootmnt
