# Kernel (architecture owners)
/kernel/        @kartikmishra210 @rootmnt

# Drivers
/drivers/       @krishna-stone @kartikmishra210 @rootmnt

# Modules
/modules/       @Nikhil-771 @kartikmishra210 @rootmnt

# Interfaces
/interface/     @shresth136 @kartikmishra210 @rootmnt
