# Kernel
/kernel/        @datenbar @rootmnt

# Drivers
/drivers/       @krishna-stone @datenbar @rootmnt

# Modules
/modules/       @Amarcode @datenbar @rootmnt

# Interfaces
/interface/     @shresth136 @datenbar @rootmnt
